<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nlp.scheduler.dao.ConfigDao">
	
	<resultMap id="configMap" type="config">
		<result property="type" column="type"/>                                                   
		<result property="feature" column="feature"/>
		<result property="tableName" column="table_name"/>
		<result property="columnName" column="column_name"/>     
		<result property="gappVersion" column="gapp_version"/>     
	</resultMap>
    
	<!-- 所有查询列 -->
	<sql id="QUERY_COLUMN_LIST">
	<![CDATA[
		type,
		feature,
		table_name,
		column_name,
		gapp_version
	]]>
	</sql>

	<!-- 查询,通过条件 -->
	<select id="selectConfig" parameterType="java.lang.String" resultMap="configMap">
		<![CDATA[select]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<![CDATA[from nlp_scheduler_config where gapp_version = #{val}]]>
	</select>
	
</mapper>